.popup-window{
  min-height: 400px;
  min-width: 360px;
  display: inline-block;
}

.incident-card.mdl-card {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 340px;
  min-height: 100px;
  margin: 8px;
}

.incident-card.incident-triggered.mdl-card {
  background-color: #f4dcdc;
}

.incident-card.incident-acknowledged.mdl-card {
  background-color: #f4f4dc;
}

.incident-card.incident-resolved.mdl-card {
  background-color: #dcf4dc;
}

.mdl-layout{
  min-width: 350px;
  min-height: 400px;
}